*{  
  font-family: verdana;
  margin: 0;

}

body{
  background: #eee;
}

.wrapper{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.flex-container{
  display: flex;

}
.box{
  height: 100px;
  min-width: 100px;
  flex-grow: 1;
}
.one{
  background-color: rgb(74, 74, 153);
}
.two{
  background-color: rgb(149, 32, 32);
}
.three{
  background-color: rgb(12, 66, 151);
}
.four{
  background-color: rgb(128, 21, 84);
}
.wrapper{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.flex-container{
  

}
.box{
  height: 100px;
  min-width: 100px;
  flex-grow: 1;
}
.five{
  background-color: aqua;
}

 


